<div>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Protoc<i class="fa fa-code"></i>de</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    {{#if model}}
                        <li>{{#link-to 'editor'}}View Editor{{/link-to}}</li>
                        <li>{{#link-to 'data_model_editor'}}Model Editor{{/link-to}}</li>
                    {{/if}}
                    <li>{{#link-to 'about'}}About{{/link-to}}</li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    {{#if model}}
                        <li><a {{action 'deleteApp'}}>Delete App</a></li>
                    {{else}}
                        <li><a {{action 'createApp'}}>Create App</a></li>
                    {{/if}}

                </ul>
            </div>
        </div>
    </nav>
    {{#if model}}
    <div class="panel panel-default">
      <div class="panel-body">
          <div class="row">
            <div class="col-md-4">
              <div class="input-group">
                <span class="input-group-addon input-sm">Application</span>
                {{input value=name class="form-control input-sm" placeholder="name" type="text" focus-out="acceptChanges" insert-newline="acceptChanges"}}
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-group">
                <span class="input-group-addon input-sm">Company Identifier</span>
                {{input value=companyIdentifier class="form-control input-sm" placeholder="companyId" type="text" focus-out="acceptChanges" insert-newline="acceptChanges"}}
              </div>
            </div>
            <div class="col-md-4">
              <div class="pull-right">
                <button class="btn btn-default btn-sm" {{action 'generateAppModel'}}>
                  <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Model
                </button>
              </div>
            </div>
          </div>
      </div>
    </div>
    {{/if}}
    <div class="container-fluid" id="main">
        {{outlet}}
    </div>
</div>
