<div class='col-md-12'>
  <div class='db_header'>
      <div class='db_title'>
        {{#if model}}
            SQLite DB enabled
        {{else}}
            Enable a SQLite DB in your app
        {{/if}}
      </div>
      <div class='switch_button'>
        {{#if model}}
            <button type="button" class="btn btn-danger" {{action 'disableDB'}}>Disable</button>
        {{else}}
            <button type="button" class="btn btn-success" {{action 'enableDB'}}>Enable</button>
        {{/if}}
      </div>
  </div>
  <hr id='header_hr'>
  <div class='database_editor'>
    {{#if model}}
      {{outlet}}
    {{/if}}
  </div>
</div>
