<div class='col-md-12'>
  <div class='df_header'>
      <div class='df_title'>
        {{#if model}}
            Default preferences enabled
        {{else}}
            Enable the default preferences in your app
        {{/if}}
      </div>
      <div class='switch_button'>
        {{#if model}}
            <button type="button" class="btn btn-danger" id="edbutton" {{action 'disableDP'}}>
              Disable
              <i class="fa fa-trash-o" id="but_icon" aria-hidden="true"></i>
            </button>
        {{else}}
            <button type="button" class="btn btn-success" id="edbutton" {{action 'enableDP'}}>
              Enable
              <i class="fa fa-floppy-o" id="but_icon" aria-hidden="true"></i>
            </button>
        {{/if}}
      </div>
  </div>
  <hr id='header_hr'>
  {{#if model}}
    {{outlet}}
  {{/if}}
</div>
